body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    text-align: center;
    padding: 20px;
}

.main {
    background-image: url("https://th.bing.com/th/id/OIP.JqkIY2OoailhAslRmtGKxQHaNJ?w=640&h=1136&rs=1&pid=ImgDetMain");
    height: 100vh;
    background-size: cover;
    color: white;
}

.user {
    background-image: url("https://cdn.prod.website-files.com/606f756a47418fa230dd0cc7/606f756a47418f7882dd0d29_bg-more-about-2-entrepreneur-template.jpg");
    height: 40vh;
    width: 40vw;
    border-radius: 10px;
}

h2 {
    padding: 50px;
}

#editor {
    width: 90%;
    height: 400px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    resize: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
